---
layout: base.liquid
title: Driver in Gambia Mr. Gibs
description: "Find the perfect Driver for getting arround in the Gambia!"
lang: "en"
---

<div class="d-flex justify-content-center heading">
    <div class="hero-content">
        <h1 class="text-light display-1 font-size-medium">Feel Gambia</h1>
        <h2 class="text-light">With an experienced local Driver</h2>
    </div>
    <img alt="Gambia Driver Gibs" src="https://softoft.sirv.com/gibs/gambia-market">
</div>
<main class="container my-3">
    <h1>Driver in Gambia: Mr. Gibs</h1>
    <p>Discover the beauty and culture of the Gambia with Gibs' Gambia DriveHub, your trusted partner for all your
        transportation needs. Whether you're looking for a reliable airport transfer, a scenic tour of Senegambia
        and Kololi, or a custom driving service, we have you covered. Our experienced drivers are dedicated to
        providing you with a safe, comfortable, and memorable journey through the Gambia.</p>

    <section class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
        {% for service in services %}
            <div class="col">
                <div class="card service-card mx-auto">
                    <img alt="{{ service.imgAlt }}" class="card-img-top img-fluid service-img" loading="lazy"
                         src="{{ service.imgSrc }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ service.title }}</h2>
                        <p class="card-text service-text">{{ service.description }}</p>
                        <a class="btn btn-primary" href="{{ service.buttonLink }}" role="button">Learn More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>


    <section class="my-4">
        <h2 class="mb-3">Driver Cost Calculator</h2>
        <form class="cost-form">
            <div class="mb-3">
                <div class="mb-1">
                    <label class="form-label" for="distance">Distance[km] (one way):</label>
                    <input class="form-control" id="distance" name="distance"
                           onchange="calculateCost()" required type="number">
                </div>
                <label class="form-check-label" for="return">Round Trip</label>
                <input class="form-check-input" id="return" name="return" oninput="calculateCost()"
                       type="checkbox">

            </div>

            <label class="form-label" for="hours">Hours at Destination:</label>
            <input class="form-control" id="hours" name="hours" oninput="calculateCost()" required
                   type="number">
            <p id="totalCost">Total Cost: </p>
        </form>
    </section>

    {% for blog in blogsOverview %}
        <section>
            <h2>{{ blog.title }}</h2>
            <a href="{{ blog.link | locale_url }}">
                <img alt="{{ blog.imgAlt }}"
                     class="img-fluid medium-image clickable-image img-thumbnail rounded-3"
                     loading="lazy" src="{{ blog.imgSrc }}">
            </a>
            <p>{{ blog.description }}</p>
            <a class="btn btn-primary" href="{{ blog.link | locale_url }}" role="button">Learn More</a>
        </section>
    {% endfor %}


</main>
<script async src="../index.js"></script>